!!!
%html
  %head
    %title
      Neural NFL
    %script{type: 'text/javascript', src:'https://code.jquery.com/jquery-2.2.0.min.js'}
    %script{type: 'text/javascript', src:'/neuralnfl.js'}
    %link{href: 'https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css', rel: 'stylesheet'}
    %link{href: '/styles.css', rel: 'stylesheet'}

%body
  %div.container
    %h1
      Neural NFL
    %p
      Use the form below to enter information about the current state of the game and the classifier will make a
      prediction as to the next offensive play called.

    %form#inputs
      .row
        .three.columns
          &nbsp;
        .three.columns
          %label
            Quarter
          %input#quarter-1{type: 'radio', name: 'quarter', value: 1}
          %label.radio{for: 'quarter-1'}
            1st
          %input#quarter-2{type: 'radio', name: 'quarter', value: 2}
          %label.radio{for: 'quarter-2'}
            2nd
          %input#quarter-3{type: 'radio', name: 'quarter', value: 3}
          %label.radio{for: 'quarter-3'}
            3rd
          %input#quarter-4{type: 'radio', name: 'quarter', value: 4}
          %label.radio{for: 'quarter-4'}
            4th
          %input#quarter-5{type: 'radio', name: 'quarter', value: 5}
          %label.radio{for: 'quarter-5'}
            OT
        .three.columns
          %label{for: 'time'}
            Game time
          %input#time{type: 'number', min: 0, max: 15, step: 1, name: 'time'}

      .row
        .four.columns
          &nbsp;
        .three.columns
          %label
            Down
          %input#down-1{type: 'radio', name: 'down', value: 1}
          %label.radio{for: 'down-1'}
            1st
          %input#down-2{type: 'radio', name: 'down', value: 2}
          %label.radio{for: 'down-2'}
            2nd
          %input#down-3{type: 'radio', name: 'down', value: 3}
          %label.radio{for: 'down-3'}
            3rd
          %input#down-4{type: 'radio', name: 'down', value: 4}
          %label.radio{for: 'down-4'}
            4th

      .row
        .three.columns
          &nbsp;
        .three.columns
          %label{for: 'to-first'}
            To first
          %input#to-first{type: 'number', min:0, max: 100, step: 1, name: 'to-first'}
        .three.columns
          %label{for: 'to-goal'}
            To goal
          %input#to-goal{type: 'number', min:0, max: 100, step: 1, name: 'to-goal'}

      .row
        .three.columns
          &nbsp;
        .three.columns
          %label{for: 'off-score'}
            Offensive score
          %input#off-score{type: 'number', min: 0, step: 1, name: 'off-score'}
        .three.columns
          %label{for: 'def-score'}
            Defensive score
          %input#def-score{type: 'number', min: 0, step: 1, name: 'def-score'}

      .row
        .six.columns
          %p.error
            Incomplete form
        .two.columns.button-div
          %button.button-primary
            Predict

    %h3
      Results
    %div#results
      %p
        Nothing yet...
